
<div id="page-content">
    <div class="container" id="home-container">
        <div class= "jumbotron text-left text-white"
            <h1 class="display-4">State of Randomness</h1>
            <p class="lead">High Thoughts</p>
            <p>   </p>
            <p>__________________________</p>
            <p>__________________________</p>
            <p>__________________________</p>
            <p>__________________________</p>
            <p>__________________________</p>
            <p>__________________________</p>
            <hr class="my-4">
            <a class="btn btn-danger btn-lg" href="#" role="button">Whatever you do don't click this button</a>
        </div>
    </div>
</div>
        
        

    
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class= "footer text-center"
            <span class="text-muted">©Danika</span>
        </div>
    </div>
</footer>


