<div class="container" id="home-container">
    <div class= "jumbotron text-left text-white"
        <h1 class="display-4">State of Randomness</h1>
        <p class="lead">High Thoughts</p>
        <p>   </p>
        <p>__________________________</p>
        <p>__________________________</p>
        <p>__________________________</p>
        <p>__________________________</p>
        <p>__________________________</p>
        <p>__________________________</p>
        <hr class="my-4">
        <%= link_to "Whatever you do don't click this button", signup_path, class: "btn btn-danger btn-lg"%>
    </div>
</div>
        




